networks:
  my-cine-checker-network:
    driver: bridge

services:
  my-cine-checker-postgres:
    image: postgres
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "my-cine-checker-db"
    ports:
      - "5432:5432"
    networks:
      - my-cine-checker-network

  my-cine-checker-api:
    build: .
    image: my-cine-checker-api
    command: [ "/wait-for-it.sh", "my-cine-checker-postgres:5432", "-t", "30", "--", "java","-jar", "/app.jar" ]
    environment:
      DB_HOST: "my-cine-checker-postgres"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "root"
    ports:
      - "8080:8080"
    networks:
      - my-cine-checker-network
    depends_on:
      - my-cine-checker-postgres
