<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filmes</title>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" />
</head>
<body>
<div class="container">
    <h3>Cadastro de Filmes</h3>
    <form th:object="${filmeobj}" action="/filmes/cadastrarfilme" method="POST">
        <!-- Campo Título -->
        <div class="input-field">
            <input id="titulo" name="titulo" th:field="*{titulo}" required>
            <label for="titulo">Título</label>
        </div>
        <!-- Campo Gênero -->
        <div class="input-field">
            <input id="genero" name="genero" th:field="*{genero}" required>
            <label for="genero">Gênero</label>
        </div>
        <!-- Campo Ano de Lançamento -->
        <div class="input-field">
            <input id="anoLancamento" name="anoLancamento" th:field="*{anoLancamento}" required>
            <label for="anoLancamento">Ano de Lançamento</label>
        </div>
        <!-- Botões -->
        <button class="btn waves-effect waves-light" type="submit">Salvar</button>
        <a class="btn waves-effect waves-light" href="/filmes/">Voltar</a>
    </form>
</div>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>
