@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    background: linear-gradient(135deg, #1c1c1c, #4a4a4a);
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.card {
    background: #3a3a3a;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    padding: 30px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #eaeaea;
}

.error-message, .success-message {
    padding: 10px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
}

.error-message {
    background: #ff4d4d;
    color: #ffffff;
}

.success-message {
    background: #4caf50;
    color: #ffffff;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    background: #1c1c1c;
    color: #ffffff;
    font-family: 'Cinzel', serif; /* Adicionado a fonte para os inputs */
}

.input-group input::placeholder {
    color: #ffffff;
    font-family: 'Cinzel', serif; /* Adicionado a fonte para o placeholder */
}

.input-group input:focus {
    border-color: #8e8e8e;
    background: #262626;
}

.buttons-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #555;
    text-decoration: none;
    border: none; /* Remover a borda */
    border-radius: 5px;
    transition: background 0.3s;
    font-family: 'Cinzel', serif; /* Adicionado a fonte para o botão */
}

.btn:hover {
    background: #6a6a6a;
}

.secondary {
    background: #777;
}

.secondary:hover {
    background: #888;
}

.footer-actions {
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .btn, .secondary {
        font-size: 0.9rem;
        width: 100%;  /* Faz os botões ocuparem 100% da largura disponível */
    }

    .buttons-group {
        flex-direction: column;
    }
}
