<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cine Checker</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<h1>Meus Filmes Assistidos</h1>
<div class="button-container">
    <a class="button cadastrar" href="/filmes/cadastrofilme">Cadastrar Filme</a>
    <a class="button ver" href="/filmes/">Meus Assistidos</a>
</div>
<div class="footer">Desenvolvido por Daniel Azevedo de O. Maia - 2024</div>

<script src="script.js"></script>
</body>
</html>