<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <h1>Login</h1>

        <!-- Exibição de mensagem de erro -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <form id="loginForm" th:action="@{/auth/login}" th:object="${objLogin}" method="post">
            <div class="input-group">
                <label for="username">Nome de usuário</label>
                <input type="text" id="username" th:field="*{username}" placeholder="Digite seu nome de usuário" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
        <div class="login-footer">
            <p>Não tem uma conta? <a th:href="@{/auth/cadastro}">Cadastre-se</a></p>
            <p><a href="#">Esqueceu sua senha?</a></p>
        </div>
    </div>
</div>
</body>
</html>
